.header {
    &__top {
        background: red;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        align-items: center;
<<<<<<< HEAD:src/components/header/header.scss
        gap: 30px;
=======
        gap: 32px;
>>>>>>> origin/master:src/layout/header/header.scss
    }
}