.news {
    padding: 80px 0;

    &__subtitle {
        text-align: center;
        font-size: 1rem;
        color: #777;
        margin-bottom: 5px;
    }

    &__title {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 20px;
    }
}

.news-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px;
    // background: black;
}

.news-card {
    padding: 10px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    color: black;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: 180px 1fr;
    gap: 30px;

    &:hover {
        transform: scale(1.02);
    }

    .news-image {
        position: relative;

        img {
            width: 100%;
            height: 180px;
            object-fit: cover;
            border-radius: 10px;
        }

        .news-tag {
            position: absolute;
            display: flex;
            align-items: center;
            bottom: 10px;
            left: 10px;
            background: rgba(0, 0, 0, 0.459);
            padding: 5px 10px;
            border-radius: 5px;
            color: white;
            font-size: 14px;
            font-weight: bold;

            svg {
                color: blue;
            }
        }
    }

    .news-content {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
            margin: 0;
            font-size: 18px;
        }

        p {
            font-size: 14px;
            color: #ccc;
            margin: 10px 0;
        }

        hr {
            border: none;
            border-top: 1px solid #444;
            margin: 10px 0;
        }

        .news-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            color: #aaa;

            span {
                display: flex;
                align-items: center;
                gap: 5px;
            }

            svg {
                color: #00aaff;
            }
        }
    }
}